nav{
    /* padding: 10px; */
    background-color: #34495E;
    border: 1px solid #34495E;
}

.h1nav{
    text-align: center;
    font-size: 2.5rem;
    color: #7AC9FF;
    margin: .5em;
}

.spnav{
    color: #F1C40F;
}

.enter{
    color:#2068af;
    font-size: 1.4em;
}
.entermain{
    color:#2068af;
    text-align: center;
    font-size: 2rem;
}
.maind{
padding-left: 15%;
}
#Enter_Name{
    color: #5b28d3;
}



body{
    margin: 0;
}
.maind{

    /* margin: 50px auto; */
    width: 70%;
}
.table{
margin: auto;
}


#position{
    width: 80%;
    height: 100%;
    /* border-radius: 3%; */
}

.tb{
    font-size: 1rem;  
}
.register{
  cursor: pointer;
    font-size: 1.2rem;
    margin-left: 80%;
    background-color: #2068af;
    border-radius: .5rem;
    color: #eceae4;
    padding: .3em .5em;
}

#bday{
    width: 75%;
}

 
 .input {
  /* color: rgb(246, 10, 10); */
  position: relative;
  /* right: .4rem;
  margin-left: 3%;
  size: 9em; */
 }
 
 .input div{
     color: rgb(245, 13, 13);
 
 }

 /* .error{
    position:absolute;
    margin: 5em;
    size: 3em;
} */
#errorFN4{
    width: 265px;
}

.erros{
    position: absolute;
    margin: 0;
    margin-top: 3px;
    /* top: 100%; */
}