body{
    margin: 0;
    background-color: #7AC9FF;
}

*{
    box-sizing: border-box;
}

nav{
    background-color: #34495E;
    border: 1px solid #34495E;
    margin-bottom: 20px;
}

.btn{
    width: fit-content;
    background-color: rgb(52, 73, 94);
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 20px;
    display: inline-block;
}

.h1nav{
    text-align: center;
    font-size: 2rem;
    color: #7AC9FF;
    margin: 18px;
}

.spnav{
    color: #F1C40F;
}

.table{
    width: fit-content;
    margin: auto;
    font-size: 19px;
    background-color: #deb50e;
    color: white;
    padding: 25px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.label{
    margin-right: 5px;
    display: inline-block;
}

.label, input{
    font-family: sans-serif;
}

input{
    padding: 5px;
}

/* .lalabel, .input{
    margin-bottom: 10px;
    display: inline-block;
} */

.date{
    width: 97%;
}

.pos{
    width: 100%;
}

tr{
    margin-bottom: 10px;
}


.error{
    /* display: none; */
    text-align: center;
    background-color: rgba(255, 0, 0, 0.518);
    padding: 7px 12px;
    max-width: 394px;
}