*{
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
nav{
    background-color: #34495E;
    border: 1px solid #34495E;
}
.h1nav{
    text-align: center;
    font-size: 2.5rem;
    color: #7AC9FF;
    margin: 18px;
    /* font-family: 'Yeseva One', cursive; */
}
.spnav{
    color: #F1C40F;
}
/*...........................main1.................*/
.main1ch{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main1{
    background-image:url(other/images/a7.jpg);
    background-repeat: no-repeat;
    background-position: right;
    flex: 2;
    padding: 2em;
    height: 100%;
}
.h1main{
    color:#2C3377 ;
    text-align: center;
}
.pmain{
    color:#2C3377;
    font-size: 1.5em;
    font-style: italic;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}
.btn{
    width: 50%;
    margin: auto;
    /* margin-top: 5em; */
    display: flex;
    justify-content: space-around;
}
button{
    font-size: 1.3em;
    padding: 10px 3em;
    padding-bottom: 8px;
    color: #2C3377;
    background-color: white;
    border-radius: 10px;
}
.btn1{
    cursor: pointer;
    color: #048cfc;
    border: 2px solid #048cfc;
}
.btn1:hover{
    color: #05595B;
    font-weight: bold;
    font-style: italic;
    border-color: #05595B;
}
.btn2{
background-color:#F1C40F ;
color: white;
cursor: pointer;
border: 0;
}
.btn2:hover{
    background-color: #05595B;
    font-weight: bold;
    font-style: italic;
}

/*.........................main2..................*/

.main2ch{
    width: 70%;
    margin: auto;
}
.main2header{
    text-align: center;
}
.div1{
    text-align: center;
    color:#2C3377 ;
    font-style: italic;
    display: flex;
    justify-content: center;
    position: relative;
}

#flot{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.main2{
    background-image:url(other/images/a7.jpg);
    background-repeat: no-repeat;
    background-position: right;
    flex: 2;
    padding: 2em;
    display: none;
}
.fa-circle-question{
    font-size: 6em;
    color: #008891;
}

.div2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3em;
    font-family: sans-serif;
}
.div2 h2,h3{
    color: #2C3377;
}
.skilldiv{
    line-height:1.8em ;
    width: 90%;
    margin: 0;
}
.main2 i{
    font-size:2em ; 
    margin: .5em;
    color:#0093AB;
}
.div2 span{
    color:#2C3377 ;
    font-size: 1.25em;
    line-height: 1.5em;
}
.btnstartparent{
    width: 80%;
    text-align: center;
    margin: auto;
}
.btnstartquiz{
    background-color:#008891 ;
    font-size: 1.5em;
    padding: 10px 2em;
    padding-bottom: 8px;
    color: white;
    border-radius: 10px;
    /* margin-left: 15em; */
    cursor: pointer;
    border: 0;
}
.btnstartquiz:hover{
    background-color: white;
    color:#008891 ;
    border: 1px solid #008891;
}

/*.........................................................*/

footer{
    background-color: #34495E;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 15px 3em;
}
.h2quiz{
    display: flex;
    align-items: center;
    font-size: 3em;
    color:#7AC9FF ;
}
.h2footer{
    color: #7AC9FF;
    text-align: center;
    
}
.footer li{
    color: white;
}
.fa-linkedin-in{
    color:white;
   
    max-height: fit-content;
}
.fa-facebook-f{
    color:white;

}
.fa-twitter{
    color:white;
    
}

/***************************************************************************/

.pop{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(23 23 23 / 84%);
    justify-content: center;
    align-items: center;
}

.parent{
    border: 2px solid #34496C;
    padding: 37px 20px;
    padding-bottom: 10px;
    background-color: #3498DB;
    position: relative;
    color: white;
    width: 335px;
    font-family: sans-serif;
    border-radius: 10px;
}

.loghead{
    padding: 5px 15px;
    border: 2px solid #34496C;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 2px;
    background-color: #34496C;
}

.close{
    padding: 5px 10px;
    border: 2px solid #34496C;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(410%, 50%);
    border-radius: 100%;
    background-color: white;
    color: black;
    user-select: none;
    cursor: pointer;
}

.button{
    text-align: center;
    display: block;
    color: white;
    background-color: #34496C;
    padding: 11px 20px;
    border: 0;
    border-radius: 5px;
    margin: 10px auto;
    margin-bottom: 0;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover{
    background-color: #3560a9;
}

.d1, .d2{
    margin: 23px 0;
    display: flex;
    justify-content: space-between;
}

#erroruser{
    display: none;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.518);
    padding: 5px;
    
}

#position{
    font-size: 1em;
}

.infoo{
    color: white;
    text-align: center;
}

.infoo1{
    color: white;
    display: block;
    text-align: center;
    /* justify-content: space-around; */
    font-size: 30px;
    margin: 0;
}

.infoo1 a{
    color: white;
}

.father{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 10%;
}
/* ..............................media Query.................. */
/* *****************main1************ */
@media (max-width:1313px){
    .main1ch{ margin:inherit;}
}
@media (max-width:1203px){
    .btn{ width:60%;}
}
@media (max-width:1010px){
    .btn{ width:75%;}
}
@media (max-width:822px){
    .btn{ width:100%; }
    .footer{display: block;}
    .father{ justify-content: space-between; font-size: smaller; font-weight: bolder; margin-left: auto;}
    .h2quiz{ margin-left: 4.5em;}
}
@media (max-width:770px){
    .main1{ background-image: none; background-color: #F7E2E2; }
    .main1ch{ width: auto;}
    .btn{ width:90%;}
    .h2quiz{ margin-left: 5.5em;}
}
@media (max-width:690px){
    .h2quiz{margin-left: 3.5em;}
    .father{ display: flex; flex-direction: column;}
    .h2footer{ font-size: initial;}
    .bahaa{ display: inline-flex; justify-content: space-between; }
    .dua{ display: inline-flex; justify-content: space-between;}
    .majd{ display: inline-flex; justify-content: space-between;}
}
@media (max-width:525px){
    .btn{ display: grid; font-size: medium;}
    .btn1{ margin-bottom: 1em;}
    .h2quiz{margin-left: 2.5em;}
    .h2footer{ font-size:1.3em;}
    .bahaa{display: block; font-size:1.5em;}
    .dua{display: block; font-size:1.5em;}
    .majd{display: block; font-size:1.5em;}
    .main1 { height: auto;}
}
@media (max-width:400px){
    .h2quiz{ margin-left: 2em;}
    .h1main{ font-size: 1.5em;}
    .pmain { font-size: 1.3em;}
    .main1 { height: auto;}
}
@media (max-width:340px){
    .h2quiz{margin-left: 1.5em;}
}
@media (max-width:300px){
    .h2quiz{margin-left: 1em;}
}
/* ********************main2***************** */
@media (max-width:1190px){
    /* .btnstartquiz{ margin-left: 20%;} */
}
@media (max-width:1000px){
    .skilldiv{ width: 80%}
}
@media (max-width:850px){
    .main2{ background-image: none; background-color: #F7E2E2; }
    .main2ch{ width: auto;}
    .skilldiv{ width: 100%;} 
    /* .btnstartquiz{ margin-left: 15em;} */
}
@media (max-width:760px){
    .btnstartquiz{ font-size: 1.4em;}
}
@media (max-width:716px){
    .btnstartquiz{ font-size: 1.2em;}
}
@media (max-width:621px){
    .div1 h1{ margin-left: 3em;}
    .btnstartparent{ width:100%}
    .btnstartquiz{ font-size: 1.2em; margin-top: 1em;}
}
@media (max-width:511px){
    .btnstartquiz{ font-size: 1.1em;}
}
@media (max-width:474px){
    .btnstartquiz{ font-size: 1em;}
}
@media (max-width:437px){
    .btnstartquiz{ margin: auto; margin-top: 1em;}
    #flot{
        display: none;
    }

    .div1 h1{
        margin: auto;
    }
}
@media (max-width:389px){
    .btnstartquiz{ margin: auto;margin-top: 1em;}
    .div2 ,.footer{ font-size: smaller;}
}
